<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'HomeView.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<script src="https://code.jquery.com/jquery-3.4.0.js"
  integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
  crossorigin="anonymous"></script>


<div id="wrapper">
    <div id="box1"></div>
    <div id="box2" ></div>
    <div id="box3"></div>
    <div id="search" >
        <form action="" method="GET" >
        <div class="md-form active-cyan-2 mb-3">
          <input class="form-control" type="text" placeholder="search: {{ request.GET.q }}" aria-label="Search" name="q" style="margin-top: 10px; font-size: 15px;" autofocus autocomplete="off" id="input_search_field">
        </div>
        </form>
    </div>
    <div id="box5" style="display: none;"></div>
    <div id="box6">
           <p>Cryptocurrencies:  {{ nr_of_tickers }} </p>
            <p >Market Cap:  {{ mt_dom_vol_marcap.2 }} </p>
            <p>24h Vol:  {{ mt_dom_vol_marcap.1 }} </p>
            <p>BTC Dominance:  {{ mt_dom_vol_marcap.0 }} </p>
            <p>Gainers/Losers:  {{ mt_gainers_losers.0 }}/{{ mt_gainers_losers.1 }} </p>
    </div>
    <div id="sorting_results1">
        <div id="box_sort1_results1">

       <div>
        <p class="sorting_tickers" style="margin-top: 26px;">By Volume: </p>
               <p style="margin-top: 15px;"> {% for x in sort_by_volume %}
                   <p class="sort_by"><a href="#" id="{{x.1}}vol">{{ x.2 }}</a></p>
                    <script>
                        $(document).ready(function() {
                        $('#{{x.1}}vol').on('click',function(event){
                        event.preventDefault();
                        event.stopImmediatePropagation();
                        var url = '{% url 'ChartView' x.1 %}';
                        $('#chart_iframe').attr('src', url).css('display', 'inline');
                        $('#chart_iframe2').css('display', 'none');
                      });
                    });
                    </script>
                {% endfor %}
           </p>
            </div>
        </div>

        <div id="box_sort1_results2">
         <p class="sorting_tickers" style="margin-top: 26px;">Top gainers: </p>
            <p style="margin-top: 15px;">
            <div>
                {% for x in sort_by_gainers_losers.2 %}
                   <p class="sort_by"><a href="#" id="{{x.1}}Gain">{{ x.2 }}</a></p>
                    <script>
                        $(document).ready(function() {
                        $('#{{x.1}}Gain').on('click',function(event){
                        event.preventDefault();
                        event.stopImmediatePropagation();
                        var url = '{% url 'ChartView' x.1 %}';
                        $('#chart_iframe').attr('src', url).css('display', 'inline');
                        $('#chart_iframe2').css('display', 'none');
                      });
                    });
                    </script>
                {% endfor %}
        </p>
            </div>

        </div> <div id="box_sort1_results3">
          <p class="sorting_tickers" style="margin-top: 26px;">Top losers: </p>
        <p style="margin-top: 15px;">
            <div>
                {% for x in sort_by_gainers_losers.3 %}
                   <p class="sort_by"><a href="#" id="{{x.1}}Lose">{{ x.2 }}</a></p>
                    <script>
                        $(document).ready(function() {
                        $('#{{x.1}}Lose').on('click',function(event){
                        event.preventDefault();
                        event.stopImmediatePropagation();
                        var url = '{% url 'ChartView' x.1 %}';
                        $('#chart_iframe').attr('src', url).css('display', 'inline');
                        $('#chart_iframe2').css('display', 'none');
                      });
                    });
                    </script>
                {% endfor %}
        </p>
            </div> </div></div>
    <div id="sorting_results2">
        <div id="box_sort2_results1">


         <div>
            <p class="sorting_tickers" style="margin-top: 26px;">Top gainers <span style="font-size: 12px;">%</span>: </p>
            <p style="margin-top: 15px;">
                {% for x in sort_by_gainers_losers.0 %}
                   <p class="sort_by"><a href="#" id="{{x.1}}Gai">{{ x.2 }}</a></p>
                    <script>
                        $(document).ready(function() {
                        $('#{{x.1}}Gai').on('click',function(event){
                        event.preventDefault();
                        event.stopImmediatePropagation();
                        var url = '{% url 'ChartView' x.1 %}';
                        $('#chart_iframe').attr('src', url).css('display', 'inline');
                        $('#chart_iframe2').css('display', 'none');
                      });
                    });
                    </script>
                {% endfor %}
            </p>
            </div>

       </div>
        <div id="box_sort2_results2">

          <p class="sorting_tickers" style="margin-top: 26px;">Top losers <span style="font-size: 12px;">%</span>: </p>
            <div>
            <p style="margin-top: 15px;">
                {% for x in sort_by_gainers_losers.1 %}
                   <p class="sort_by"><a href="#" id="{{x.1}}Los">{{ x.2 }}</a></p>
                    <script>
                        $(document).ready(function() {
                        $('#{{x.1}}Los').on('click',function(event){
                        event.preventDefault();
                        event.stopImmediatePropagation();
                        var url = '{% url 'ChartView' x.1 %}';
                        $('#chart_iframe').attr('src', url).css('display', 'inline');
                        $('#chart_iframe2').css('display', 'none');
                      });
                    });
                    </script>
                {% endfor %}
            </p>


            </div>
        </div>
        <div id="box_sort2_results3">
        <div>
        <p class="sorting_tickers" style="margin-top: 26px;">Unusual vol: </p>
                <p style="margin-top: 15px;">
                    {% for x in sort_by_unusual_volume %}
                   <p class="sort_by"><a href="#" id="{{x.1}}Unus">{{ x.2 }}</a></p>
                    <script>
                        $(document).ready(function() {
                        $('#{{x.1}}Unus').on('click',function(event){
                        event.preventDefault();
                        event.stopImmediatePropagation();
                        var url = '{% url 'ChartView' x.1 %}';
                        $('#chart_iframe').attr('src', url).css('display', 'inline');
                        $('#chart_iframe2').css('display', 'none');
                      });
                    });
                    </script>
                {% endfor %}
            </p>
            </div>
        </div>
    </div>
    <div id="chart">
        <div id="iframe_chart" align="center">
          <iframe name="chart_iframe" id="chart_iframe" src="about:blank" frameBorder="0" width=900 height="450" style="display: none;"></iframe>
        </div>
        {% if search_result %}
          <div align="center"><iframe src="{% url 'ChartView' search_result.first.id %}" id="chart_iframe2" frameBorder="0" width=900 height="450" ></iframe></div>
        {% endif %}
    </div>
    <div id="data1">
        <p id="data_title">Market news:</p>
        <br>
            <div id="news_01">
                <p class="news_pub_dates">{{ news_pub_date.0 }}</p>
                <p class="news_titles"><a href="{{ news_url.0 }}"> {{ news_title.0 }}</a></p>
                 <p class="news_body"> {{ news_body.0 }} </p>
                <br>
                <br>
            </div>
            <div id="news_02">
                  <p class="news_pub_dates">{{ news_pub_date.1 }}</p>
                <p class="news_titles"><a href="{{ news_url.1 }}"> {{ news_title.1 }}</a></p>
                <p class="news_body"> {{ news_body.1 }} </p>
                <br>
                <br>
            </div>
            <div id="news_03">
                   <p class="news_pub_dates">{{ news_pub_date.2 }}</p>
                <p class="news_titles"><a href="{{ news_url.2 }}"> {{ news_title.2 }}</a></p>
                <p class="news_body"> {{ news_body.2 }} </p>
                <br>
                <br>
            </div>
            <div id="news_04">
                  <p class="news_pub_dates">{{ news_pub_date.3 }}</p>
                <p class="news_titles"><a href="{{ news_url.3 }}"> {{ news_title.3 }}</a></p>
                <p class="news_body"> {{ news_body.3 }} </p>
                <br>
                <br>
            </div>
            <div id="news_05">
                 <p class="news_pub_dates">{{ news_pub_date.4 }}</p>
                <p class="news_titles"><a href="{{ news_url.4 }}"> {{ news_title.4 }}</a></p>
                <p class="news_body"> {{ news_body.4 }} </p>
                <br>
                <br>

            </div>
            <div id="news_06">
                 <p class="news_pub_dates">{{ news_pub_date.5 }}</p>
                <p class="news_titles"><a href="{{ news_url.5 }}"> {{ news_title.5 }}</a></p>
                <p class="news_body"> {{ news_body.5 }} </p>
                <br>
                <br>
            </div>
            <div id="news_07">
                <p class="news_pub_dates">{{ news_pub_date.6 }}</p>
                <p class="news_titles"><a href="{{ news_url.6 }}"> {{ news_title.6 }}</a></p>
                <p class="news_body"> {{ news_body.6 }} </p>
                <br>
                <br>
            </div>
            <div id="news_08">
                    <p class="news_pub_dates">{{ news_pub_date.7 }}</p>
                <p class="news_titles"><a href="{{ news_url.7 }}"> {{ news_title.7 }}</a></p>
                <p class="news_body"> {{ news_body.7 }} </p>
                <br>
                <br>
            </div>
            <div id="news_09">
                       <p class="news_pub_dates">{{ news_pub_date.8 }}</p>
                <p class="news_titles"><a href="{{ news_url.8 }}"> {{ news_title.8 }}</a></p>
                <p class="news_body"> {{ news_body.8 }} </p>
                <br>
                <br>
            </div>
            <div id="news_10">
                    <p class="news_pub_dates">{{ news_pub_date.9 }}</p>
                <p class="news_titles"><a href="{{ news_url.9 }}"> {{ news_title.9 }}</a></p>
                <p class="news_body"> {{ news_body.9 }} </p>
                <br>
                <br>
            </div>



    </div>
    <div id="data2"></div>
    <div id="data3"></div>
    </div>
{% endblock %}


</body>
</html>


