*{
    margin: 0px;
    padding: 0;
    font-family:'Lato', sans-serif;
    background-color: white;
}


#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr minmax(900px, 2fr);
    grid-template-rows: 40px 60px 500px 400px;
    grid-gap: 1px;

}

/*#box1 {*/
/*    border: 1px solid black;*/
/*}*/

/*#box2 {*/
/*    border: 1px solid black;*/

/*}*/

/*#box3 {*/
/*    border: 1px solid black;*/
/*}*/

#search {
    /*border: 1px solid black;*/
    font-size: 25px;
    margin-left: 20px;
}


/*#box5 {*/
/*   border: 1px solid black;*/

/*}*/

#box6 {
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center
}

#box6 p{

     margin: 10px;
    font-size: 12px;
}

/*#box7 {*/
/*    border: 1px solid black;*/

/*}*/

/*#box8 {*/
/* border: 1px solid black;*/
/*}*/

/*#box9 {*/
/*    border: 1px solid black;*/
/*}*/

/*#box10 {*/
/*    border: 1px solid black;*/
/*}*/

/*#box11 {*/
/*    border: 1px solid black;*/
/*}*/

/*#box12 {*/
/*    border: 1px solid black;*/
/*}*/



::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}

.placeholder {
  border-bottom: 1px solid;
  cursor: pointer;
}
.placeholder:hover {
  color: #888888;
}

#sorting_results1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


#box_sort1_results1{
    /*border: 1px solid black;*/
    margin-left: 20px;
}


/*#box_sort1_results2{*/
/*    border: 1px solid black;*/
/*}*/


/*#box_sort1_results3{*/
/*    border: 1px solid black;*/
/*}*/

#sorting_results2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*#box_sort2_results1{*/
/*    border: 1px solid black;*/
/*}*/


/*#box_sort2_results2{*/
/*    border: 1px solid black;*/
/*}*/


/*#box_sort2_results3{*/
/*    border: 1px solid black;*/
/*}*/


.sorting_by_volume {
    margin-top: 20px;
}

.sorting_by_gainers_per {
    margin-top: 20px;
}

.sorting_by_gainers_abs {
    margin-top: 20px;
}

.sorting_by_losers_per {
    margin-top: 20px;
}

.sorting_by_losers_abs {
    margin-top: 20px;
}

.unusual_volume {
    margin-top: 20px;
}


.sorting_tickers{
    font-size: 20px;
}


#sorting_results1 a{
    font-size: 12px;
    margin: 0px;
}

#sorting_results1 p{
    margin: 0px;
}

#sorting_results2 a{
    font-size: 12px;
    margin: 0px;
    text-decoration: none;
    color: #888888;
}

#sorting_results2 a:hover{
    font-weight: 600;

}

#sorting_results1 a{
    font-size: 12px;
    margin: 0px;
    text-decoration: none;
    color: #888888;
}

#sorting_results1 a:hover{
    font-weight: 600;

}


#sorting_results2 p{
    margin: 0px;
}























